Source: zynthbox-meta
Section: misc
Priority: optional
Maintainer: Leszek Lesner <leszek@zevenos.com>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.1.3
Homepage: https://monome.org/docs/norns/

Package: zynthbox-meta
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, openbox, qtvirtualkeyboard-plugin, qml-module-qtquick-virtualkeyboard, qml-module-qt-labs-folderlistmodel, plasma-framework, python3-pyside2.qtwidgets, qml-module-org-kde-newstuff, libwebkit2gtk-4.0-37, python3-soundfile, python3-alsaaudio, matchbox-window-manager, python3-xlib
Description: Dependencies for zynthbox
 Download all Dependencies for the zynthbox
